.card_list {
  margin: 10px;
  border: 1px solid rgb(250, 107, 107);
  padding: 60px;
  border-radius: 5px;
  box-shadow: 3px 4px 5px grey;
}
.card_list:hover {
  transform: translate(-15px);
  transition: 0.3s;
}
